* {
    box-sizing: border-box; 
    ffffborder: 1px solid white;
}


body {
    background: url("christmas-santa.png");
    background-size: cover;
    margin: 0;
    padding: 0;

}

h2 {
    color: red;
    margin-top: 5rem;
    text-align: center;
}



#christmas-wires-frame {
    margin: 0;
    padding: 0;
    border: 10px solid white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;

	/*The `pointer-events` property makes a transparent div unclickable,
	therefore I can click on any text beneth (under) the transparent div.
	Withouth this property I was not able to click on the text
	or highlight the text with my mouse cursor 

    By using this property I can click through the christmas lights frame and highlight the text.
     */
	pointer-events: none;
}


/*Christmas lights styling*/

/*Style the switch*/

.wire-switch {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    /*border: 1px solid white;*/
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    white-space: nowrap;
    left: 100px;
    top: -100px;
    padding: 0;
    width: 20px;
    border-right: 3px solid #222;
    height: 300px;

}




.lights-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #222;
    position: relative;
    list-style: none;
    margin: 15px 0;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 80px;
    border-radius: 10px;
    left: 0px;
    background: #446639 ;
}

.lights-switch .christmas-button {
     border: 2px solid #222;
    margin: 2px;
    padding: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background:  #222;
   
}


.lights-switch .christmas-button:hover {
    background: #1EB44B ; 
}

.lights-switch .christmas-button:active {
    background: red; 
}

/*The top wire*/

#wire-top {

    ffffborder: 1px solid white;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    padding: 0;
    width: 100%;
    border-bottom: 3px solid #222;
    height: 20px;
}



#wire-top li {
    
    position: relative;
    list-style: none;
    margin: 0 15px;
    padding: 0; 
    display: inline-block;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    top: 22px;
    background: white;

}

/*Add the little wire caps for each light bulbs*/
#wire-top li:before {

   ffffborder: 1px solid green;
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 4px;
    top: -7px;
    left: 1px;
    background-color: #444;

}






/*
#wire-top li:nth-child(odd) {
    animation-name: odd-flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

*/



/*The bottom wire*/

#wire-bottom {

    ffffborder: 1px solid white;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    bottom: 10px;
    padding: 0;
    width: 100%;
    border-bottom: 3px solid #222;
    height: 20px;
}



#wire-bottom li {
    
    fffborder: 1px solid white;
    position: relative;
    list-style: none;
    margin: 0 15px;
    padding: 0; 
    display: inline-block;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    bottom: 15px;
    background: white;

}

/*Add the little wire caps for each light bulbs*/
#wire-bottom li:before {

   ffffborder: 1px solid green;
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 4px;
    bottom: -6px;
    left: 1px;
    background-color: #444;

}




/*The left wire*/

#wire-left {

    ffffborder: 1px solid white;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    white-space: nowrap;
    position: absolute;
    left: 20px;
    padding: 0;
    width: 20px;
    border-right: 3px solid #222;
    height: 100%;
}



#wire-left li {
   flex-shrink: 0; 
    ffffborder: 1px solid white;
    position: relative;
    list-style: none;
    margin: 15px 0;
    padding: 0; 
    display: block;
    width: 30px;
    height: 15px;
    border-radius: 50%;
    left: 22px;
    background: white;

}

/*Add the little wire caps for each light bulbs*/
#wire-left li:before {

   ffffborder: 1px solid green;
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 4px;
    left: -5px;
    bottom: 1px;
    background-color: #444;

}



/*The left right*/

#wire-right {

    ffffborder: 1px solid white;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    white-space: nowrap;
    position: absolute;
    right: 20px;
    padding: 0;
    width: 20px;
    border-right: 3px solid #222;
    height: 100%;
}



#wire-right li {
   flex-shrink: 0; 
    fffborder: 1px solid white;
    position: relative;
    list-style: none;
    margin: 15px 0;
    padding: 0; 
    display: block;
    width: 30px;
    height: 15px;
    border-radius: 50%;
    right: 15px;
    background: white;

}

/*Add the little wire caps for each light bulbs*/
#wire-right li:before {

   ffffborder: 1px solid green;
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 4px;
    right: -5px;
    bottom: 0px;
    background-color: #444;

}


/*Animations */

/*Define flash1 animation*/


.frame-flash1 .wire li:nth-child(4n+1) {
    animation-name: flash1-red;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash1 .wire li:nth-child(4n+2) {
    animation-name: flash1-green;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash1 .wire li:nth-child(4n+3) {
    animation-name: flash1-orange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash1 .wire li:nth-child(4n+4) {
    animation-name: flash1-blue;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}




@keyframes flash1-red {
    0% {
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 1);
    }

    50% {
        background: rgba(255, 0, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 0.3);
    }

    100% {
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 1);
    }

}



@keyframes flash1-green {
    0% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

    50% {
        background: rgba(0, 255, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 0.3);
    }

    100% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

}


@keyframes flash1-orange {
    0% {
        background: rgba(255, 127, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 1);
    }

    50% {
        background: rgba(255, 127, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 0.3);
    }

    100% {
        background: rgba(255, 127, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 1);
    }

}

@keyframes flash1-blue {
    0% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

    50% {
        background: rgba(0, 0, 255, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 0.3);
    }

    100% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

}



/*Define flash2 animation*/


.frame-flash2 .wire li:nth-child(4n+1) {
    animation-name: flash2-red;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash2 .wire li:nth-child(4n+2) {
    animation-name: flash2-green;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash2 .wire li:nth-child(4n+3) {
    animation-name: flash2-orange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash2 .wire li:nth-child(4n+4) {
    animation-name: flash2-blue;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}




@keyframes flash2-red {
    0% {
        background: rgba(255, 0, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 0.1);
    }

    50% {
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 1);
    }

    100% {
        background: rgba(255, 0, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 0.1);
    }

}



@keyframes flash2-green {
    0% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

    50% {
        background: rgba(0, 255, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 0.3);
    }

    100% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

}


@keyframes flash2-orange {
    0% {
        background: rgba(255, 127, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 0.1);
    }

    50% {
        background: rgba(255, 127, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 1);
    }

    100% {
        background: rgba(255, 127, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 0.1);
    }

}

@keyframes flash2-blue {
    0% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

    50% {
        background: rgba(0, 0, 255, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 0.3);
    }

    100% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

}





/*Define flash3 animation*/


.frame-flash3 .wire li:nth-child(4n+1) {
    animation-name: flash3-red;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash3 .wire li:nth-child(4n+2) {
    animation-name: flash3-green;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash3 .wire li:nth-child(4n+3) {
    animation-name: flash3-orange;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash3 .wire li:nth-child(4n+4) {
    animation-name: flash3-blue;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}




@keyframes flash3-red {
    0% {
        background: rgba(255, 0, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 0.1);
    }

    50% {
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 1);
    }

    100% {
        background: rgba(255, 0, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 0.1);
    }

}



@keyframes flash3-green {
    0% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

    50% {
        background: rgba(0, 255, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 0.3);
    }

    100% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

}


@keyframes flash3-orange {
    0% {
        background: rgba(255, 127, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 0.1);
    }

    50% {
        background: rgba(255, 127, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 1);
    }

    100% {
        background: rgba(255, 127, 0, 0.3);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 0.1);
    }

}

@keyframes flash3-blue {
    0% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

    50% {
        background: rgba(0, 0, 255, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 0.3);
    }

    100% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

}




/*Define flash4 animation*/


.frame-flash4 .wire li:nth-child(4n+1) {
    animation-name: flash4-red;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash4 .wire li:nth-child(4n+2) {
    animation-name: flash4-green;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash4 .wire li:nth-child(4n+3) {
    animation-name: flash4-orange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}

.frame-flash4 .wire li:nth-child(4n+4) {
    animation-name: flash4-blue;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

}






@keyframes flash4-red {
    0% {
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 1);
    }

    50% {
        background: rgba(255, 0, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 0.3);
    }

    100% {
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 0, 0, 1);
    }

}



@keyframes flash4-green {
    0% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

    50% {
        background: rgba(0, 255, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 0.3);
    }

    100% {
        background: rgba(0, 255, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 255, 0, 1);
    }

}


@keyframes flash4-orange {
    0% {
        background: rgba(255, 127, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 1);
    }

    50% {
        background: rgba(255, 127, 0, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 0.3);
    }

    100% {
        background: rgba(255, 127, 0, 1);
        box-shadow: 0px 2px 2px 4px rgba(255, 127, 0, 1);
    }

}

@keyframes flash4-blue {
    0% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

    50% {
        background: rgba(0, 0, 255, 0.5);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 0.3);
    }

    100% {
        background: rgba(0, 0, 255, 1);
        box-shadow: 0px 2px 2px 4px rgba(0, 0, 255, 1);
    }

}







